{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dynamic Technology Lab</title>
  <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 header-logo">
					<br>
          <a href="index.html">
            <img src="{% static 'main/img/dtl_logo.jpg' %}" style="max-height: 70px" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-7">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
					        <li><a class="menu active" href="/" >About Us</a></li>
					        <li><a class="menu" href="#about">Culture</a></li>
					        <li><a class="menu" href="/career">Career </a></li>
					        <li><a class="menu" href="#team">Contact Us</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
    </div> <!-- end row -->
	</header> <!-- end of header area -->
  <div style="background: #f5f5f0; margin: 0 90px 0 90px"> 
  {% block body-content %}
  {% endblock body-content %}
  </div>
  <!-- footer starts here -->
  <footer class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 footer-para">
          <p>&copy;freshDesignweb.com All right reserved</p>
        </div>

      </div>
    </div>
  </footer>
  
	<!-- script tags
	============================================================= -->
  <script src="{% static 'main/js/jquery-2.1.1.js' %}"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="{% static 'main/js/gmaps.js' %}"></script>
  <script src="{% static 'main/js/smoothscroll.js' %}"></script>
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/custom.js' %}"></script>
</body>
</html>
