{% extends 'main/base.html' %}
{% load static %}

{% block body-content %}
<section class="slider" id="home">
  <div class="container-fluid">
    <div class="row">

        <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="header-backup"></div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="{% static 'main/img/slide-one.jpg' %}" alt="">
                    <div class="carousel-caption">
                      <h1>Tax</h1>
                      <p>good business consulting service</p>
                      <button>learn more</button>
                    </div>
                </div>
                <div class="item">
                  <img src="{% static 'main/img/slide-two.jpg' %}" alt="">
                    <div class="carousel-caption">
                      <h1>Financial</h1>
                      <p>good business consulting service</p>
                      <button>learn more</button>
                    </div>
                </div>
                <div class="item">
                  <img src="{% static 'main/img/slide-three.jpg' %}" alt="">
                    <div class="carousel-caption">
                      <h1>Consulting</h1>
                      <p>good business consulting service</p>
                      <button>learn more</button>
                    </div>
                </div>
                <div class="item">
                  <img src="{% static 'main/img/slide-four.jpg' %}" alt="">
                    <div class="carousel-caption">
                      <h1>Money</h1>
                      <p>good business consulting service</p>
                      <button>learn more</button>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
  </div>
</section><!-- end of slider section -->

<!-- about section -->
<section class="about text-center" id="about">
  <div class="container">
    <div class="row">
      <h3>Dynamic Technology Lab Pte.Ltd. (DTL) is a quantitative trading firm engaged in equity trading. We have significant presence in the global market by trading over 400m USD daily in the world's major exchanges.</h3>
    </div>
  </div>
</section>

{% endblock body-content %}
